<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css' rel='stylesheet'>
    <title>404</title>
</head>
<body>
    <div class='mx-auto container text-center my-8'>
        <h1 class='text-3xl'>No page nono</h1>
        <p>You've tried to access a ressource that doesn't exist</p>
        <h1 class='text-6xl'>¯\_(ツ)_/¯</h1>
    </div>
</body>

</html>